In [1]:
import pandas as pd

In [2]:
total_retail_sales = pd.read_csv('~/pipeline_mvp/data/total_retail_sales.csv')

In [4]:
total_retail_sales = total_retail_sales.set_index('item')

In [5]:
total_cost = pd.read_csv('~/pipeline_mvp/data/total_cost.csv')

In [7]:
total_cost = total_cost.set_index('item')

In [10]:
total_cost

         value  wholesale_cost_per_item  total_cost
item
chairs     200                       50       10000
benches    100                      125       12500
table      500                      250      125000
shoes      100                       25        2500

In [12]:
total_retail_sales

         retail_cost_per_item  value  total_sales
item
chairs                    100    200        20000
benches                   250    100        25000
table                     500    500       250000
shoes                      50    100         5000

In [13]:
net_profit = total_retail_sales.total_sales - total_cost.total_cost

In [14]:
net_profit.to_csv('~/pipeline_mvp/data/net_profit.csv')