In [1]:
import pandas as pd

In [2]:
wholesale_costs = pd.read_csv('~/pipeline_mvp/data/wholesale_cost.csv')

In [12]:
wholesale_costs = wholesale_costs.set_index('item')

In [4]:
item_count = pd.read_csv('~/pipeline_mvp/data/item_count.csv')

In [7]:
item_count

      item  value
0   chairs    200
1  benches    100
2    table    500
3    shoes    100

In [8]:
item_count = item_count.set_index('item')

In [14]:
whole_count = pd.concat([item_count, wholesale_costs], axis=1)

In [15]:
whole_count

         value  wholesale_cost_per_item
item
chairs     200                       50
benches    100                      125
table      500                      250
shoes      100                       25

In [16]:
whole_count['total_cost'] = whole_count['value'] * whole_count['wholesale_cost_per_item']

In [18]:
whole_count.to_csv('~/pipeline_mvp/data/total_cost.csv')