In [1]:
import pandas as pd

In [5]:
item_count = pd.read_csv('~/pipeline_mvp/data/item_count.csv')

In [10]:
item_count = item_count.set_index('item')

In [7]:
retail_cost = pd.read_csv('~/pipeline_mvp/data/retail_cost_per_item.csv')

In [12]:
retail_cost = retail_cost.set_index('item')

         retail_cost_per_item
item
chairs                    100
benches                   250
table                     500
shoes                      50

In [17]:
count_cost = pd.concat([retail_cost, item_count], axis=1)

In [19]:
count_cost['retail_cost_per_item'] * count_cost['value']

item
chairs      20000
benches     25000
table      250000
shoes        5000
dtype: int64

In [20]:
count_cost['total_sales'] = count_cost['retail_cost_per_item'] * count_cost['value']

In [23]:
count_cost.to_csv('~/pipeline_mvp/data/total_retail_sales.csv')